In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame({'a':np.arange(1,15), 'b':np.random.rand(14)})

In [5]:
df

     a         b
0    1  0.762039
1    2  0.756273
2    3  0.483859
3    4  0.820709
4    5  0.663852
5    6  0.335502
6    7  0.522419
7    8  0.894201
8    9  0.261869
9   10  0.507038
10  11  0.384334
11  12  0.048998
12  13  0.488035
13  14  0.122226

In [6]:
dfa = pd.DataFrame(np.arange(1,15))
dfb = pd.DataFrame(df.b)

In [7]:
dfa

     0
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9   10
10  11
11  12
12  13
13  14

In [8]:
dfb

           b
0   0.762039
1   0.756273
2   0.483859
3   0.820709
4   0.663852
5   0.335502
6   0.522419
7   0.894201
8   0.261869
9   0.507038
10  0.384334
11  0.048998
12  0.488035
13  0.122226

In [9]:
df = df.set_index(['a', 'b'])

In [10]:
df

Empty DataFrame
Columns: []
Index: [(1, 0.7620390248805781), (2, 0.7562725648496871), (3, 0.483859271139204), (4, 0.8207094752413847), (5, 0.6638521571174314), (6, 0.33550227141050704), (7, 0.5224192208681058), (8, 0.8942010573444347), (9, 0.26186867935563274), (10, 0.5070382213596819), (11, 0.38433416844557544), (12, 0.04899767331835003), (13, 0.4880351149678718), (14, 0.1222257212608776)]

In [20]:
dfa.columns=['values']

In [25]:
df['values'] = np.exp(dfa['values'].values)

In [27]:
df

                   values
a  b
1  0.762039  2.718282e+00
2  0.756273  7.389056e+00
3  0.483859  2.008554e+01
4  0.820709  5.459815e+01
5  0.663852  1.484132e+02
6  0.335502  4.034288e+02
7  0.522419  1.096633e+03
8  0.894201  2.980958e+03
9  0.261869  8.103084e+03
10 0.507038  2.202647e+04
11 0.384334  5.987414e+04
12 0.048998  1.627548e+05
13 0.488035  4.424134e+05
14 0.122226  1.202604e+06

In [32]:
df.loc[(slice(None), 0.122226)]

KeyError: 0.122226